<!doctype html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<title>Consultá tu saldo en tu tarjeta BIP</title>

		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<meta name="author" content="Fernando L. Canizo">
		<meta name="contact" content="http://flc.muriandre.com/">

		<meta name="description" content="consultar saldo tarjeta bip">
		<meta name="keywords" content="saldo tarjeta bip">

		<link rel="stylesheet" href="css/bootstrap.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/spinner.css">
	</head>
	<body>
		{{{body}}}

		<script src="js/lib/jquery.js"></script>
		<script src="js/saldo.js"></script>
	</body>
</html>
